:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(3, 1fr);

  grid-gap: 24px;
  grid-auto-rows: 200px;
  margin: 24px auto;
  list-style: none;
  padding-left: 0px;
}

.gallery-image:hover {
  transform: scale(1.03);
}
.gallery-image {
  height: 100%;
  width: 100%;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-link {
  display: block;
  height: 100%;
  cursor: zoom-in;
}
